@media (max-width: 768px)
{
    .foyz-border {
        border-radius: 0;
        border: none;
    }
    .deck {
        padding: 15px;
    }
    .med-futr li:nth-child(3) {
        display: none;
    }
    .med-futr{
        margin-left: 25px;
    }
    .med-futr .nav-link{
        padding: 0px 10px;
    }
    .hidden-sm{
        display: none !important;
    }
    .inline-nav li{
        display: inline-block;
    }
    .inline-nav{
        margin: 0;
    }
    .custom-nav .container-fluid{
        padding-left: 0;
        padding-right: 0;
    }
    .hidden-lg
    {
        display: inherit;
    }
    .custom-nav
    {
        padding-bottom: 0;
    }
    .nav-row
    {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }
    .sign-in-button, .sign-in-button:hover, .sign-in-button:focus
    {
        background-color: transparent;
        border: none;
        margin-left: 0;
        outline: none;
    }
    .sign-in-button:hover
    {
        color: #6d6d6d;
    }
    .nosarch
    {
        display: none;
    }
    .vectorad
    {
        display: block;
    }
    .widthful
    {
        width: 100%;
    }
    /*.corusel-width{*/
    /*    width: 427px;*/
    /*    column-gap: 20px;*/
    /*}*/
    .ccarousel{
        padding: 0;
    }
    .ccarousel .owl-stage{
        left: -50px;
    }
}
@media (min-width: 768px)
{
    a.vectorad
    {
        display: none !important;
    }

<<<<<<< HEAD
}

=======
/*@media (max-width: 768px){*/
/*    .corusel-width {*/
/*        width: 427px;*/
/*        column-gap: 20px;*/
/*    }*/
/*}*/
>>>>>>> 887af9a11019e73d78a68510be87e8100ff4b40f
