@media (max-width: 575px)
{
    body {
        width: 375px;
    }
    .row {
        --bs-gutter-x: 0.5rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(var(--bs-gutter-y) * -1);
        margin-right: calc(var(--bs-gutter-x)/ -2);
        margin-left: calc(var(--bs-gutter-x)/ -2);
    }
    .border
    {
        border: none !important;
    }
    .shadow1
    {
        box-shadow: none;
        overflow: hidden;
    }
    .shadow
    {
        box-shadow: none;
        overflow: hidden;
    }
    /*corusel cours*/
    p {
        margin-top: 0;
        margin-bottom: 12px;
    }
    .after_rate {
        line-height: 12.86px;
        font-size: 11px;
        font-weight: 400;
        /* margin-top: 17px; */
    }
    .kurs-title {
        line-height: 17.77px;
        font-size: 13px;
        letter-spacing: normal;
        font-weight: 700;
        font-style: normal;
        width: 233px!important;
        height: 36px!important;
        size: letter;
        word-spacing: inherit;
        font-family: roboto;
        margin: 0;
        overflow-wrap: break-word;
    }
    p.top_p {
        font-size: 12px;
        margin-bottom: 0;
        margin-top: 9px;
    }
    .kurs-desc {
        font-size: 11px;
        line-height: 13.66px;
        font-weight: 400;
        font-family: roboto;
        margin-bottom: 4px;
    }
    .rate {
        line-height: 14.66px;
        font-size: 12px;
        margin-top: 13px;
        margin: 0;
    }
    .shadow {
        border-radius: 10px;
        right: 25px;
        height: 324px;
        width: 248px;
    }
    .diana {
        border-radius: 10px;
        right: 17px;
        margin-left: 30px;
        height: 255px;
        width: 255px;
    }
    .imgtop {
        margin-bottom: -71px;
        margin-left: 16px;
    }
    .saripov{
        border-radius: 10px;
        right: 20px;
        height: 242px;
        width: 243px;
        margin-left: -17px;
    }
    .juntifi {
        margin: 2px 20px;
    }
    .h4, h4 {
        font-size: 14px;
        line-height: 19.87px;
    }
    .display-5 {
        font-size: 23px;
        font-weight: 500;
        line-height: 28.02px;
    }
    .bedern {
        font-size: 16px;
        line-height: 18.36px;
    }
    .bef-div {
        flex: 0 0 auto;
        width: 255px;
        height: 255px;
    }
    .course-stars {
        color: #FFA823;
        font-size: 13px;
    }
    .widthcours
    {
        margin: 0 10px;
    }
    .display-5 {
        font-size: 23px;
        font-weight: 500;
        line-height: 28.04px;
        text-align: center;
        font-family: monospace;
    }
    .fw-normal {
        font-weight: 500!important;
    }
    /*corusel cours*/
    /*xatoliklarni tuzatish oxirgi*/
    .make {
        font-size: 22px;
    }
    .navbar .btn {
        padding-left: 0px;
        padding-right: 0px;
    }
    .popov {
        width: 243px;
        padding-left: 25px;
        left: auto !important;
        right: 7px;
        border: none;
        border-radius: 10px;
        margin-top: -45px !important;
    }
    .but-width {
        width: 197px;
    }

    .modal {
        position: fixed;
        top: -80px;
        left: 0;
        z-index: 1060;
        display: none;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        outline: 0;
    }

    .popov .arrow {
        width: 40px;
        height: 40px;
        transform: rotate(
                45deg
        );
        background-color: #fff;
        position: absolute;
        right: 22px;
        margin-top: -17px;
        z-index: -1;
    }
    /*tigadi*/

    .foyz-border {
        border-radius: 0;
        border: none;
    }
    .deck {
        padding: 15px;
    }
    .med-futr li:nth-child(3) {
        display: none;
    }
    .med-futr{
        margin-left: 25px;
    }
    .med-futr .nav-link{
        padding: 0px 10px;
    }
    .hidden-sm{
        display: none !important;
    }
    .inline-nav li{
        display: inline-block;
    }
    .inline-nav{
        margin: 0;
    }
    .custom-nav .container-fluid{
        padding-left: 0;
        padding-right: 0;
    }
    .hidden-lg
    {
        display: inherit;
    }
    .custom-nav
    {
        padding-bottom: 0;
    }
    .nav-row
    {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }
    .kurs-title {
        font-size: 13px;
    }
    .sign-in-button, .sign-in-button:hover, .sign-in-button:focus
    {
        background-color: transparent;
        border: none;
        margin-left: 0;
        outline: none;
    }
    .sign-in-button:hover
    {
        color: #6d6d6d;
    }
    .nosarch
    {
        display: none;
    }
    .vectorad
    {
        display: block;
    }
    .widthful
    {
        width: 100%;
    }
    /*.corusel-width{*/
    /*    width: 427px;*/
    /*    column-gap: 20px;*/
    /*}*/
    .ccarousel{
        padding: 0;
    }
    .ccarousel .owl-stage{
        left: -50px;
    }
}
@media (min-width: 575px)
{
    a.vectorad
    {
        display: none !important;
    }

<<<<<<< HEAD
}

=======
/*@media (max-width: 768px){*/
/*    .corusel-width {*/
/*        width: 427px;*/
/*        column-gap: 20px;*/
/*    }*/
/*}*/
>>>>>>> 887af9a11019e73d78a68510be87e8100ff4b40f
